<div class="container">
  <div class="title text-center"><h1>Classement Final !!</h1></div>
  <div class="image-winner">
    <%= image_tag('winner.jpg', alt: 'Winner Image') %>
    <div class="image-item">
      <h3>Winner !!</h3>
    </div>
  </div>
    <div class="image-looser">
      <%= image_tag('looser.jpg', alt: 'looser Image') %>
      <div class="image-item">
        <h3>LE NUL !!</h3>
      </div>
  </div>
  </div>
