.image-winner {
  display: flex;
  justify-content: center;
  text-align: center;

}

.image-looser {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.image-container img {
  max-width: 48%; /* Optionnel : permet de réduire la taille des images */
}

.image-item {
  text-align: center; /* Centre le texte et l'image */
  color: greenyellow;
}

.image-item h3 {
  margin-bottom: 10px; /* Espace entre le nom et l'image */
}

.container_bobd{

  text-align: center; /* Centrer le texte à l'intérieur du conteneur */
  color: orange; /* Couleur du texte */
  border: 2px solid orange; /* Bordure autour du conteneur (facultatif) */
  background-color: rgba(255, 255, 255, 0.226); /* Fond blanc pour le conteneur */
  border-radius: 8px; /* Bords arrondis pour un effet esthétique */
  width : 300px; /* Largeur du conteneur (ajustez selon vos besoins) */
  height : 150px; /* Hauteur du conteneur (ajustez selon vos besoins) */
  padding : 20px;

}
