<div class="container">
  <div class="logo"></div>
  <div class="btns-home mt-3">
    <%= link_to "Training", categories_path, class:"btn-home btn btn-outline-success" %>
    <%= link_to "Play", new_game_path, class:"btn-home btn btn-outline-success" %>
    <div class="btn-home btn btn-outline-success">Account</div>
    <div class="btn-home btn btn-outline-success">Settings</div>
  </div>
</div>
