<div class="wrapper" data-queue-target="challengerwrapper">
  <%= image_tag background, class: background_class, data: {queue_target: "challengerimage"}%>
</div>
<h1 class="<%= title_class %>" title data-queue-target="challengertitle"><%= title %></h1>
<%= image_tag character, class: character_class, data: { queue_target: "challengercharacter"}%>
