<%= image_tag background, class: "cover-image", style: style %>
<h1 class="<%= title_class %>" title data-queue-target="playertitle"><%= title %></h1>
<%= image_tag character, class: character_class, data: { queue_target: "playercharacter"}%>
