<div class="player-card">
    <div class="wrapper">
      <%= image_tag wrapper_img, class: "cover-image" %>
    </div>
    <%# <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" /> %>
    <h1 class="title">The<br>Dark Rider</h1>
    <%= image_tag "player-cards/dark_rider-character.png", class: "character" %>
</div>
