<div class="wrapper" data-queue-target="playerwrapper">
  <%= image_tag background, class: background_class %>
</div>
<h1 class="<%= title_class %>" title data-queue-target="playertitle"><%= title %></h1>
<%= image_tag character, class: character_class, data: { queue_target: "playercharacter"}%>
