<div class="background">
<div class="container">


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.card');

    cards.forEach(card => {
      card.addEventListener('click', function() {
        // Retirer la classe 'selected' de toutes les cartes
        cards.forEach(c => c.classList.remove('selected'));

        // Ajouter la classe 'selected' à la carte cliquée
        card.classList.add('selected');
      });
    });
  });
</script>


 <div class="row">
    <% @spells.each do |spell| %>
      <div class="col-6">
        <%= render "spell", spell: spell %>
      </div>
    <% end %>
  </div>


</div>


</div>
