<div class = "card">
    <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOCgBJd1mu1JHxCpfewArnk-koXQFLVCv3HQ&s alt="">
  <div class="card-content">
    <h2>
    <%= spell.name %>
    </h2>
      <p>
    <%= spell.description %>
      </p>
  </div>
</div>
