
 <div class="spells row" data-controller="spell">
 <span class= "title">Choix du spell</span>
    <% @spells.each do |spell| %>
      <div class="col-4">
        <%= render "spell", spell: spell %>
      </div>
    <% end %>
    <<%= link_to "Lancer la partie", game_question_path(game, question), class: "btn btn-danger mt-2" %>
  </div>
