
 <div class="spells row" data-controller="spell">
 <span class= "title">Choix du personnage</span>
    <% @spells.each do |spell| %>
      <div class="col-4">
        <%= render "spell", spell: spell %>
      </div>
    <% end %>
    <input class="btn btn-danger mt-2" type="submit" value="Confirm">
  </div>

