<div class="spells row" data-controller="spell">
 <span class= "title">Choix du bonus/malus</span>
    <% @spells.each do |spell| %>
      <div class="col-4">
        <%= render "spell", spell: spell %>
      </div>
    <% end %>
    <%= form_with(url: add_spell_game_path(@game), method: :post, data: { spell_target:"form", action:"submit->spell#fire"}) do |f| %>
      <%= f.hidden_field :spell_id, value: "", data: {spell_target:"spellid"} %>
      <%= f.submit "Confirm", class: "btn btn-danger mt-2" %>
    <% end %>
</div>
