<div class="m-3">
  <%= render "playercard", wrapper_img: "player-cards/dark-rider-169.webp" %>
  <%= render "challengercard", wrapper_img: "player-cards/dark-rider-169-bw.png" %>
  <div class="btn btn-outline-success btn-find-opponent">Find an opponent</div>
</div>
