<div class="container justify-content-center" style="color:white;">
  <h1 class="text-align-center">Game Result</h1>
  <p>Player 1 Name: <%= @user1.user.username %></p>
  <p>        score: <%= @user1.score %></p>
  <p>Player 2 Name: <%= @user2.user.username %></p>
  <p>        score: <%= @user2.score %></p>
</div>
