<div id="description_<%= spell.id %>">
  <button type="button" class="btn btn-primary visually-hidden" data-spell-target="spellModalBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  </button>
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div id="questionmodal" class="modal-body spell-modal ">
        <%# <div class="modal-header"> %>
          <%# <h5 class="modal-title" data-spell-target="spellNameModal">Spell Name</h5> %>
          <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Close">X</button>
        <%# </div> %>
          <p data-spell-target="spellDescriptionModal">Placeholder</p>
        </div>
      </div>
    </div>
  </div>
</div>
