
<button id="btn_<%= spell.id%>" type="button" class="btn btn-primary btn-spell" data-spell-target="spellModalBtn" data-controller="spellbtn" data-action="click->spellbtn#fire">
  <i class="fa-solid fa-question"></i>
</button>
<div> <!-- Modal -->
  <div class="modal fade" id="modal_<%= spell.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div id="questionmodal" class="modal-body spell-modal">

        <%# <div class="modal-header"> %>
          <%# <h5 class="modal-title" data-spell-target="spellNameModal">Spell Name</h5> %>
          <button type="button" class="btn-close-modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark" style =color:red></i></button>
        <%# </div> %>
          <span class="spell-modal-description" data-spell-target="spellDescriptionModal"><%= spell.description %></span>
        </div>
      </div>
    </div>
  </div>
</div>
