.btns-home {
  position: absolute;
  z-index: 1;
  height: calc(3*100vh/4);
  width: calc(100vw/1.8);
  top: calc(100vh/3.5);
  left: calc(100vw/2 - 100vw/1.8/2);
  display:flex;
  flex-direction: column;
}

.btn-home {
  font-family: "Saira Stencil One", sans-serif;
  background-image: linear-gradient(to right, #ff522f 0%, #F09819  51%, #FF512F  100%);
  background-size:200% auto;
  margin-top: 25px;
  height: calc(100vh/8);
  border-radius: 15px;
  align-items:center;
  display:flex;
  justify-content: center;
  font-weight: bold;
  font-size:x-large;
  border-color: $dark-orange;
  color: white;
  box-shadow: 0 0 5px #eee;
  text-decoration: none;
  transition: 0.5s;


  &:hover {
    // color: white;
    background-position: right center; /* change the direction of the change here */
    // background-color: $dark-orange;
    border-color: $dark-orange;
    color:black;
  }

}

.btn-group-find-opponent {
  position:absolute;
  top: calc(100vh/2 - 25px);
  left: calc(100vw/2 - 130px);
}

.btn-find-opponent {
  font-family: "Saira Stencil One", sans-serif;
  // border-radius: 20px;
  font-size: 28px;
  z-index:100;
  border-color: $dark-orange;
  color: $light-orange;
  font-weight: bold;
  font-family: "Saira Stencil One", sans-serif;
  background-image: linear-gradient(to right, #ff522f 0%, #F09819  51%, #FF512F  100%);
  background-size:200% auto;
  border-radius: 15px;

  &:hover {
    // color: white;
    background-position: right center; /* change the direction of the change here */
    // background-color: $dark-orange;
    border-color: $dark-orange;
    color:black;
  }

  &:disabled {
    font-size: 28px;
    z-index:100;
    border-color: $dark-orange;
    color: white;
    font-weight: bold;
    background-color: $dark-orange;
    opacity: 0.9;
  }
}

.btn-hover {
  background-color: $dark-orange;
  border-color: $dark-orange;
}

.btn-bonus {
  // border-radius: 20px;
  font-size: 28px;
  z-index:100;
  border-color: $dark-orange;
  color: $light-orange;
  font-weight: bold;

  &:hover {
    // color: white;
    background-color: $dark-orange;
    border-color: $dark-orange;
    color: white;
  }

  &:disabled {
    font-size: 28px;
    z-index:100;
    border-color: $dark-orange;
    color: white;
    font-weight: bold;
    background-color: none;
    opacity: 0.9;
  }
}


.btn-spell {
  position:absolute;
  border-radius:50%;
  background-color:transparent;
  font-size: 12px;
  top:0;
  right:0;
  border-color: transparent;
  z-index:10;

  &:hover {
    background-color:lightgrey;
  }
}

@keyframes giggle {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-3px); }
}

.giggle {
  animation: giggle 0.3s ease-in-out 3; /* 3 répétitions */
}


.btn-category {
  background-image: linear-gradient(to right, #ff522f 0%, #F09819  51%, #FF512F  100%);
  background-size:200% auto;
  font-size: 16px;
  z-index:100;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.3s ease-in;
  margin-bottom: 10px;
  &:hover {
    // text-decoration: underline;
    // text-decoration-color: $dark-orange;
    // text-decoration-thickness: 5px;
    color:black;
    background-position: right center; /* change the direction of the change here */
    // background-color: $dark-orange;
    border-color: $dark-orange;
  }
}

.btn-spell-confirm {
  background-image: linear-gradient(to right, #ff522f 0%, #F09819  51%, #FF512F  100%);
  background-size:200% auto;
  font-size: 32px;
  z-index:100;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.3s ease-in;
  margin-bottom: 10px;
  &:hover {
    // text-decoration: underline;
    // text-decoration-color: $dark-orange;
    // text-decoration-thickness: 5px;
    color:black;
    background-position: right center; /* change the direction of the change here */
    // background-color: $dark-orange;
    border-color: $dark-orange;
  }
}
