// main container

.queue {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  position:fixed;
}

// player card style
.player-card {
  width: auto;
  height: calc(100vh/2);
  border-radius: 10px;
  position:relative;
}

.cover-image {
  height: 100%;
  object-fit:contain;
  // transform: translateX(110px);
}

.character {
  width: 55%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: -60px;
}

.title {
  opacity: 0;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  text-align:center;
  font-size: 32px;
  width: 50%;
  transition: transform 0.5s;
  position:absolute;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  background-color: #FAD961;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

// .player-card:hover .character {
//   opacity: 1;
//   transform: translate3d(0%, -10%, 100px);
// }

// .player-card:hover .wrapper {
//   transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
//   box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
//   -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
//   -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
// }

// .wrapper::before,
// .wrapper::after {
//   content: "";
//   opacity: 0;
//   width: 100%;
//   height: 80px;
//   transition: all 0.5s;
//   // position: absolute;
//   left: 0;
// }
// .wrapper::before {
//   top: 0;
//   height: 100%;
//   background-image: linear-gradient(
//     to top,
//     transparent 46%,
//     rgba(12, 13, 19, 0.5) 68%,
//     rgb(12, 13, 19) 97%
//   );
// }
// .wrapper::after {
//   bottom: 0;
//   opacity: 1;
//   background-image: linear-gradient(
//     to bottom,
//     transparent 46%,
//     rgba(12, 13, 19, 0.5) 68%,
//     rgb(12, 13, 19) 97%
//   );
// }

// .player-card:hover .wrapper::before,
// .wrapper::after {
//   opacity: 1;
// }

// .player-card:hover .wrapper::after {
//   height: 120px;
// }

// .player-card:hover .title {
//   opacity: 1;
//   transform: translate3d(0%, -50px, 100px);
// }


// challenger card

.challenger-card {
  width: 100vw;
  height: calc(100vh/2);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  position:relative;
}

.challenger-cover-image {
  height: 100%;
  object-fit: cover;
  transform: rotateY(3.142rad);
}

.background-cover-image {
  height: 100%;
  object-fit: cover;
  // transform: translateX(0px) ;
}

.challenger-waiting-title {
  opacity: 0.5;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  text-align:center;
  font-size: 16px;
  color:white;
  position:absolute;
  // z-index:3;
  bottom: 150px;
  left: 175px;
}

.challenger-character {
  width: 58%;
  opacity: 0;
  transition: all 0.5s;
  // position: absolute;
  z-index: 1;
  bottom: 0;
  right: -60px;
  transform: rotateY(3.142rad);
}

.challenger-title {
  opacity: 0;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  text-align:center;
  font-size: 32px;
  width: 50%;
  transition: transform 0.5s;
  position:absolute;
  bottom:20px;
  left:20px;
  background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  background-color: #FAD961;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

// .challenger-card:hover .challenger-title {
//   opacity: 1;
//   transform: translate3d(0%, -50px, 100px);
// }

// .challenger-card:hover .wrapper {
//   transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
//   box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
//   -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
//   -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
// }

// .challenger-card:hover .challenger-character {
//   opacity: 1;
//   transform: translate3d(0%, -10%, 100px);
// }

// .challenger-card:hover .title {
//   opacity: 1;
//   transform: translate3d(0%, -50px, 100px);
// }

// .challenger-card:hover .wrapper::before,
// .wrapper::after {
//   opacity: 1;
// }

// .challenger-card:hover .wrapper::after {
//   height: 120px;
// }
