.wrapper {
  transition: all 0.5s;
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgb(12, 13, 19) 97%
  );
}


.player-card {
  width: 100%;
  height: calc(100vh/2);
  position: relative;
  overflow: hidden;
}

.cover-image {
  object-fit: cover;
  height: calc(100vh/2);
  width: 100%;
}

.empty-cover-image {
  object-fit: cover;
  height: calc(100vh/2);
  width: 100%;
  filter: grayscale(1);
  transform: rotateY(3.142rad);
}

.player-character {
  width: 55%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: -20px;
}

.opponent-character {
  width: 55%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: 1;
  bottom: -50px;
  right: -20px;
}

.player-title {
  opacity: 0;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  text-align:center;
  font-size: 32px;
  width: 50%;
  transition: all 0.5s;
  position:absolute;
  bottom: 20px;
  right: 10px;
  background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  background-color: #FAD961;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.opponent-title {
  opacity: 0;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  text-align:center;
  font-size: 32px;
  width: 50%;
  transition: all 0.5s;
  position:absolute;
  bottom: 20px;
  left: 0;
  background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  background-color: #FAD961;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.challenger-waiting-title {
  opacity: 0.5;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  text-align:center;
  font-size: 16px;
  color:white;
  // z-index:3;
  position:absolute;
  top: 35%;
  left: 20%;
}


.toggle {
  opacity: 1;
  transform: translate3d(0%, -50px, 100px);
}

.rotating-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(5deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  overflow:visible;
}

.rotating-wrapper-challenger {
  transform: perspective(900px) translateY(+5%) rotateX(-5deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.challenger-image {
  filter: grayscale(0);
}


// glowing border
.box {
  --border-angle: 0turn; // For animation.
  --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );

  border: solid 10px transparent;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #000, #cc6c2f 99%, transparent);

  background:
    // padding-box clip this background in to the overall element except the border.
    var(--main-bg) padding-box,
    // border-box extends this background to the border space
    var(--gradient-border) border-box,
    // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
