// .main {
//   display:flex;
//   justify-content: center;
//   flex-direction: column;
//   margin: 0 20px;
// }

.player-card {
  width: 100%;
  height: calc(100vh/2);
  position: relative;
  overflow: hidden;
}

.cover-image {
  object-fit: cover;
  height: calc(100vh/2);
  width: 100%;
}

.player-character {
  width: 55%;
  opacity: 1;
  transition: all 0.5s;
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: -60px;
}

.opponent-character {
  width: 55%;
  opacity: 1;
  transition: all 0.5s;
  position: absolute;
  z-index: 1;
  bottom: -20px;
  right: -60px;
}

.player-title {
  opacity: 1;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  text-align:center;
  font-size: 32px;
  width: 50%;
  transition: transform 0.5s;
  position:absolute;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  background-color: #FAD961;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.opponent-title {
  opacity: 1;
  font-family: "Cinzel Decorative", serif;
  font-weight: bold;
  text-align:center;
  font-size: 32px;
  width: 50%;
  transition: transform 0.5s;
  position:absolute;
  bottom: 20px;
  left: 20px;
  background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  background-color: #FAD961;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
